$color-brand: #8081BD;
$color-background: #FFF6D1;
$color-second-background: #F2F2FF;
$color-icon: #EA5D4A;
$color-text: #334155;
$color-light: #ffffff;

$color-pink: #F3ACC8;
$color-yellow: #FDDC4E;
$color-green: #79BC6D;
$color-blue: #0E95D3;
$color-sea: #58BBAE;

$content-wide-width: 1804px;
$content-width: 1420px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;


